@model BlipApp.Models.Post

<h2 class="text-center mt-5">Editare articol</h2>
<br />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <form method="post" action="/Posts/EditImage/@Model.Id" enctype="multipart/form-data">

                <div class="mb-3">
                    @Html.TextBox("Content", null, new { @class = "form-control border-0", style = "height: 100px;", placeholder = "What's blippin?" })
                    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                    <div class="container">
                        <div class="row">
                            <div class="form-group col">
                                <input type="file" class="custom-file-input" id="PostImage" name="PostImage" hidden />
                                <label class="custom-file-label" for="PostImage">
                                    <i class="bi bi-image" style="cursor: pointer; font-size: 1.63em;"></i>
                                </label>
                                <span id="file-chosen1">No file chosen</span>
                            </div>

                            <div class="form-group col">
                                <input type="file" class="custom-file-input" id="PostVideo" name="PostVideo" hidden />
                                <label class="custom-file-label" for="PostVideo">
                                    <i class="bi bi-camera-video" style="cursor: pointer; font-size: 1.77em;"></i>
                                </label>
                                <span id="file-chosen2">No file chosen</span>

                            </div>
                        </div>

                    </div>
                    <br />


                </div>


                <input class="btn btn-secondary rounded-pill" type="submit" value="Upload" />
            </form>

            
        </div>
    </div>
</div>




