@model BlipApp.Models.Group
<br />
<h2 class="mb-5 text-center">Create a group</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
{

    @Html.Label("Title", "Group name:")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-secondary" type="submit">Add group</button>
}